body {
  font-family: 'Neutraface', sans-serif;
  background-color: #323330;
  font-size: 16px;
  line-height: 1;
  padding: 50px;
}

.quizStart{
  background-color:#f0db4f;
  font-size: 1.5em;
  word-break: break-all;
  width:50%;
  height:150px;
  border : 2px solid #32333038;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  left:25%;
  top:50px;
  color : #323330;
}

.quizStart:hover {
  font-weight: bold;
  background-color: #eed327;
  transition: all 0.3s ease-in-out;
}


.container{
  background-color: white;
  color: darkslategray;
  font-size: 18px;
  margin : 0px auto;
  border-width: 1px;
  opacity: 1;
  max-width : 800px;
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px;
  position: relative;
  padding: 10px;

}

.header{
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color:  #f0db4f;
  color:#323330;
  font-size: 30px;
  font-weight: bold;
  display: block;

}
.containerBody{
 display: flex;
 width: 100%;
}
.questionBox {
  padding: 10px;
  width : 600px;
  padding-bottom: 20px;


}

.questionTextBox{
  padding:10px;
}

.resultBox {
  padding: 10px;
  height : 300px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: black;


}

.lineBreak {
  content: " ";
  display: block;
  width: 100%;
  background: #000000;
  height: 2px;
}

.questionResponse {
  
  background-color: #323330bb;
  margin-top: 10px;
  height: 20px;
  color: white;
  text-align: left;

  padding: 7px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 2px;

}

.questionResponse:hover {
  font-weight: bold;
  background-color: #3233308a;
  transition: all 0.3s ease-in-out;
}


.sideBox{
  display: inline-block;
  width: 200px;
  padding-right: 20px;
}
.timeBox {
  margin: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 150px;
  width: 100%;
}
.scoreBox {
  margin: 10px;


  width: 100%;

}
.scoreCurrent {
  
  background-color: #f0db4f;
  margin-top: 10px;

  color: #323330;
  text-align: left;

  padding: 7px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 2px;

}
.saveBtn {
  
  background-color: #323330bb;
  margin-top: 10px;
  height: 20px;
  color: white;
  text-align: left;
  width: 200px;
  padding: 7px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 2px;

}

.saveBtn:hover {
  font-weight: bold;
  background-color: #3233308a;
  transition: all 0.3s ease-in-out;
}

.scoreSaved {
  
  background-color: #323330bb;
  margin-top: 10px;
  height: 20px;
  color: white;
  text-align: left;

  padding: 7px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 2px;

}